<p id="notice"><%= notice %></p>

<p>
  <strong>Song:</strong>
  <%= @request.song %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @request.artist %>
</p>

<p>
  <strong>User:</strong>
  <%= @request.user %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
